<div class="container">
  <div id="main">
    <header id="icons">
       <nav>
      	<ul>
          <li><a href="https://github.com/borikanes" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
          <li><a href="https://www.linkedin.com/in/oluwabori-oludemi-23919963" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
    			<li><a href="https://twitter.com/borikanes" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    			<li><a href="https://www.facebook.com/Bori.d.1st" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
    			<li><a href="https://www.youtube.com/user/borikanesO" class="icon fa-youtube " target="_blank"><span class="label">YouTube</span></a></li>
    			<li><a href="mailto:borikanes@yahoo.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    		</ul>
    	</nav>
    </header>
  </div>
</div>
