<!-- <div class="container">
      <div id="main">
        <nav>

        </nav>
      </div>
      <div class="top-header">
        <h1>borikanes.me is still under construction :(</h1>
      </div>
</div> -->

<div class="container">

<div id="main">

<header id="icons">

   <nav>

  	<ul style="list-style: none;">
			<li><a href="https://twitter.com/borikanes" class="fa fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/shannashmusic/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.youtube.com/user/Shannashmusic" class="icon fa-youtube " target="_blank"><span class="label">YouTube</span></a></li>
			<li><a href="https://soundcloud.com/shannash" class="icon fa-soundcloud" target="_blank"><span class="label">Soundcloud</span></a></li>
			<li><a href="https://instagram.com/shannashmusic/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.mixcloud.com/Shannash/" class="icon fa-cloud" target="_blank"><span class="label">Mixcloud</span></a></li>
			<li><a href="mailto:shannashworld@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>

	</nav>
</header>
</div>
</div>
